* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

.fa-kitchen-set {
    font-size: 4rem;
    margin-left: 2rem;
}

.barre {
    font-size: 5rem;
    margin-left: 1.5rem;
}

.fa-stroopwafel {
    font-size: 3rem;
    margin-left: 4rem;
}

.title {
    font-size: 2rem;
    margin-left: 1rem;


}

.fa-magnifying-glass {

    position: absolute;
    font-size: 1.6rem;
    margin-left: 7rem;
    margin-top: 1.5rem;


}

#searchBar {
    width: 112rem;
    height: 3.2rem;
    border-radius: 20px;
    margin-left: 5rem;
    margin-top: 0.5rem;

}

.fa-circle-right {
    font-size: 2.5rem;
    margin-left: -3rem;
    margin-top: 0.5rem;

}

.panier, .connection {
    font-size: 2rem;
    width: 15rem;
    height: 3.2rem;
    border-radius: 20px;
    background-color: aqua;

}

.connection {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

.list {
    justify-content: center;
    text-align: center;
}

.listNav, .fa-book-open, .fa-euro-sign, .fa-stopwatch, .fa-bullhorn {
    display: flex;
    font-size: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 55%;
    align-items: center;

}

.fa-book-open, .fa-euro-sign, .fa-stopwatch, .fa-bullhorn {
    font-size: 4.5rem;
    margin-right: 1rem;

}
/*//////////////debut 3 imgs///////////////*/

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: fuchsia solid 0.5px;
    border-radius: 25px;
    margin-top: 25rem;
    width: 60%;

}

.sect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

}

.imgsmain {
    border-radius: 25px;
    border: lightgrey 1px solid;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left:1rem ;
}

.legend{
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: -6rem;
    z-index: 2;
    color:fuchsia;
    font-weight: bold;
}
/*//////////////debut de l actu////////////////*/

.titleh2{
    margin-left: 1rem;
}

.actuTitle{
    display: flex;
    flex-direction: column;



}

.img\&h3up{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.imgsa {
display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 18%;
}

.imgsactu{
    width: 17rem;
    height: 17rem;
    border-radius: 25px;
    margin-top: 2rem;
 }

.h3act{
    display: flex;
    flex-direction: column;
    width: 22%;
    justify-content: space-around;
    text-align: start;

}

.h3sactu{
    margin-bottom: 10rem;
}
/*//////// Fin de l' actu////////*/




/*//////////////En ce moment /////////////*/


.h2Moment{
    margin-left: 1rem;
    margin-top: 8rem;
}

.inMoment{
    display: flex;
    justify-content: center;
    align-content: center;


}

.imgsmoment{
    margin-top: 5rem;
    border-radius: 25px;
    width: 27rem;
    height: 27rem ;
    padding: 1rem;


}




